/* custom CSS goes here */
body{
    font-family: "Montserrat";
    background-color: black;
  }

.welcome-messages {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 200px;
    background-color: azure;
}

.judy-name {
    font-family: 'Pacifico', cursive;
}

.project-button {
    position: relative;
    top: 1%;
    margin: 0 3rem 0 0;
    border-radius: 0%;
}

.service-button {
    position: relative;
    top: 1%;
    margin: 0 3rem 0 0;
    border-radius: 0%;
}

.project-button:hover {
    border-color: antiquewhite;
}

.service-button:hover {
    border-color: black;
}