/* custom CSS goes here */
body{
    font-family: "Montserrat";
  }

.welcome-messages {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 200px;
}

.judy-name {
    font-family: 'Pacifico', cursive;
}

.project-button {
    position: relative;
    top: 1%;
    margin: 0 3rem 0 0;
    border-radius: 0%;
    font-weight: 200;
}

.service-button {
    position: relative;
    top: 1%;
    margin: 0 3rem 0 0;
    border-radius: 0%;
    font-size: large;
}

.project-button:hover {
    font-family: "Montserrat";
}