<div class="container container-fluid">
    <div class="about-me-line-1">website is not crushed up, don't worry about your network. I made this page looks like this.</div> 
    <div class="about-me-line-2">
        <div class="about-me-line-2-1"></div>
    </div>
</div>
