<div class="container container-fluid">
    <h4 class="about-me-line-1">This website is not crushed up, don't worry about your network. I made this page looks like this.</h4>
</div>

<div class="container container-fluid">
    <div class="about-me-line-2"></div>
</div>