<div class="container container-fluid">
    <div class="about-me-line-1">Wow, you landing on the page! </div> 
    <div class="about-me-line-1-1">_______________________________________________________ </div> 
    <div class="about-me-line-2">
        <div class="about-me-line-2-1"></div>
    </div>
</div>
