<div class="container container-fluid">
    <div class="about-me-line-1">This line here is just for Web decoration.</div> 
    <div class="about-me-line-1">This line here is just for Web decoration.</div>
    <div class="about-me-line-2">
        <div class="about-me-line-2-1"></div>
    </div>
</div>
