<div class="container container-fluid">
    <!-- <div class="about-me-line-1">Wow, you landing on this page! </div>  -->
    <div class="about-me-line-1-1">____________________________________________________O__O </div> 
    <div class="about-me-line-2">
        <div class="about-me-line-2-1">
           <h1 class="about-me-line-2-1-1">A BRIEF INTRODUCING :</h1> 
            <h1>As a Developer</h1> 
            <h5>HTML</h5>
            <h5>CSS</h5> 
            <h5>JS</h5>

        </div> 
        <div class="about-me-circle-1"></div>
        <div class="about-me-circle-2"></div>
    </div>
</div>
