<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 ">
            <img src="./Assets/images/peep-judy.gif" class="img-fluid cover-img">
        </div>
        <div class="welcome-messages col-lg-6 ">
          <p>Hello there!</p><br>
          <h1>This is <span class="judy-name">Judy.</span></h1>
          <p>An Developer & Designer</p>
          <p>My Heart along with u, Pizza!</p><br>
          <p>Thank you for coming here.</p>
          <a href="./projects" class="btn btn-dark btn-lg project-button" role="button" aria-pressed="true" >Projects</a>
          <a href="./services" class="btn btn-light btn-lg service-button" role="button" aria-pressed="true">Services</a>
        </div>
      </div>
</div>