<div class="container">
    <div class="row">
        <div class="col-lg-6">
          <h1>Meet new and interesting dogs nearby.</h1>
        </div>

        <div class="col-lg-6">
            <img src="./Assets/images/cover_hero-1.svg">
        </div>

      </div>
</div>