<div class="container container-fluid">
    <div class="row">
        <div class="welcome-messages col-lg-6 h-50">
          <h1>Hello there, this is <span class="judy-name">Judy.</span></h1><br>
          <h1>Thank you for coming here!</h1><br>
          <h4>Check my projects or my services.</h4>
          <a href="./projects" class="btn btn-dark btn-lg project-button" role="button" aria-pressed="true" >Projects</a>
          <a href="./services" class="btn btn-light btn-lg service-button" role="button" aria-pressed="true">Services</a>

          <div>

          </div>
        </div>

        <div class="col-lg-6 ">
            <img src="./Assets/images/cover_hero-1.svg">
        </div>

      </div>
</div>