<div class="container">
    <div class="row">
        <div class="welcome-messages col-lg-6">
          <h1>Hi,</h1>
          <h1>My name is Judy</h1>
          <h1>Thank you for coming here!</h1>
          <h1>Welcome to check my works!</h1>
        </div>

        <div class="col-lg-6">
            <img src="./Assets/images/cover_hero-1.svg">
        </div>

      </div>
</div>