<div class="container">
    <div class="row">
        <div class="welcome-messages col-lg-6">
          <h1>Hello there, this is <span class="judy-name">Judy</span></h1><br>
          <h1>Thank you for coming here!</h1>
          <h1>Check my works.</h1>
        </div>

        <div class="col-lg-6">
            <img src="./Assets/images/cover_hero-1.svg">
        </div>

      </div>
</div>